<%- include("data") %>

    <body>
        <%- include("menu") %>
            <div id="questions_container">
                <h2>
                    <%= pregunta.pregunta%>
                </h2>

                <form id="answer_form" action="/preguntas/procesar_adivinar" method="POST">
                    <input type="hidden" name="preguntaId" value="<%= pregunta.preguntaId %>">
                    <input type="hidden" name="idRespuestaAmigo" value="<%= pregunta.idRespuestaAmigo %>">
                    <input type="hidden" name="idAmigo" value="<%= pregunta.idAmigo %>">

                    <% respuestas.forEach(function(respuesta, i, respuestas){ %>
                        <div class="div_form_answer">
                            <input type="radio" id="respuesta" name="respuesta" value="<%= respuesta.respuestaId %>">
                            <label for="respuesta"><%= respuesta.respuestaTitle%></label>
                        </div>
                        <% });%>

                            <input class="boton centrar" type="submit" value="Enviar respuesta">
                </form>
            </div>

    </body>

    </html>