<!DOCTYPE html>
<html lang="es">

<head>
    <title>30</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/diseño.css" media="screen">
    <link rel="icon" type="img/png" href="/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <div id="encabezado">
        thirty
        <div id="menu">
            <a href="/profile">Perfil</a>
            <a href="/amigos">Amigos</a>
            <a href="">Preguntas</a>
            <a href="/logout">Desconectar</a>
            <div id="points"> <%= puntos %> puntos</div>
        </div>
    </div>
    <div id="search">
        <h2>Resultados de búsqueda: <%= busqueda%></h2>
        <div id="search_result_container">
            <% if(resultado != null){ %>
            <ul>
                <% resultado.forEach(function(v,i,user){ %>
                <li id="search_result_item">
                    <div class="search_result_item_name_and_picture">
                        <img src="/imagen/<%= v.email %>" class="person">
                        <p><%= v.name%></p>
                    </div>
                    <a href="/solicitar_amistad/<%= v.email%>" class="button">Solicitar amistad</a>
                </li>
                <% });%>
            </ul>
            <%}else{ %>
            <p>No se han encontrado resultados</p>
            <%} %>
        </div>
    </div>
</body>

</html>